.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  


  .edit-button-modal-content {
    background-color: rgb(234, 246, 251);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 700px;
    z-index: 2000;
  }
  .edit-button-modal-content h2{
    margin: 0%;
    padding: 0%;
  }
  
  .input-group3 {
   display: flex;
   flex-direction: column;
   margin-top: 30px;
 
   justify-content: center;
  }
  
  .input-group label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 5px;
  }
  .deleteEvent{
    display: flex;
    color: red;
   cursor: pointer;
  }

