.event-Div {
display: flex;
flex-direction: column;
text-align: center;
align-items: center;


}
.event-Div1 button {
        margin-top: 10px;
        width: 13%;
        border-radius: 18px;
        height: 46px;
        background-color: rgb(78, 102, 106); 
        font-size: 13px;
}
.viewbutton{
    margin-top: 50px;
    width: 13%;
    border-radius: 18px;
    height: 46px;
    background-color: rgb(78, 102, 106); 
    font-size: 13px;
}
.event-Div p1 {
font-size: 50px;
font-weight: 900;
margin-bottom: 20px;
margin-top: 20px;
color: rgb(74, 71, 71);
}
.event-list {
    display: flex;
    white-space: nowrap;
    
    overflow-x: auto;
    width: 100%;
}


.card-custom-card {
    display: flex;
    max-width: 500px;
    min-width: 500px;
    min-height: 500px;
    max-height: 500px;
    margin: 10px;
    background-color: rgb(240, 238, 238);
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    white-space: nowrap;
    position: relative;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    
}
.card-img-top{
    height: 200px;
    width:  95%;
    border-radius: 10px;
    padding-top: 5px;
   
}
.edit-button{
    position: absolute;
    top: 0;
    right: 0;
   width: 40px;
   height: 40px;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white; /* Text color */

}
.edit-button:hover{
    width: 60px;
    height: 60px;
    cursor: pointer;
} 
.card-body {
    display: flex;
    flex-direction: column;
    text-align: left;
    width:100%;
    margin-left: 25px;
}
.card-title{
   
    margin: 0;
    margin-top: 15px;
    padding: 0%;
    font-size: 40px;
    color: rgb(95, 93, 93);
    font-weight: 800;

}
.card-location{
    display: flex;
    flex-direction: column;
}


.card-user-id{
  position: absolute;
  bottom: 0px;
  left: 0;
  font-size: 20px;
  margin-left: 10px;
  width: 100%;
}

.card-user-id button{
width: 200px;
}
.TapButton {
    width: 100%;
    display: flex;
    justify-content: center;
}
.TapButton-Button {
     width: 13%;
    border-radius: 18px;
    height: 46px;
    background-color: rgb(78, 102, 106); 
    font-size: 13px;
    color: white;
}
.ViewButton2 {
    display: flex;
  align-items: center;
    justify-content: center;
    border-radius: 18px;
    height: 46px;
    width: 14%;
    background-color: rgb(78, 102, 106); 
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-top: 30px;
}