
.background-container {
  overflow: hidden;
display: flex;
flex-direction: column;
 
}
.top-div {
  background-image: url(https://img.freepik.com/free-photo/gray-abstract-wireframe-technology-background_53876-101941.jpg); 
  background-size: cover;
  background-position: center;
 
  font-weight: bold;
  font-size: 100px; 
  display: flex;
 align-items: center;
  justify-content: center;
  height: 800px;
  width: 100%;
}
.left-Top-Div{
  display:flex;
  width: 30%;
  flex-direction: column;
  padding-left: 4%;
}
.span {
color: red;
font-size: larger;
}

.left-Top-Div{
  font-size: 45px;
  color: rgb(82, 81, 81);
  font-weight: 800;
  padding-bottom: 0;
  margin: 0;
}
.left-Top-Div p{
  padding-bottom: 0;
  margin: 0;
 
}

.left-Top-Div h1 {
  font-size: 20px;
  font-weight: 100;
  color: rgb(136, 139, 142);
  font-style:initial;

}
.ViewButton {
  border-radius: 8px;
  color: #ffffff;
  background-color:rgb(78, 102, 106); 
  width: 30%;
  margin-bottom: 10px;
  
}
.ViewButton1 {
  border-radius: 8px;
  color: #ffffff;
  background-color:rgb(78, 102, 106); 
  width: 30%;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;

  text-decoration: none;
  height: 30px;
}
.right-Top-Div{
  display: inline-block; 
  width: 50%;
}

.right-Top-Div img{
  width: 120%;
 height: 600px;
 max-width: 100%; 
 height: auto; 


 @media (max-width: 600px) {
   width: 0%; /* At screen widths of 600px or smaller, reduce the image size to 80% */
 }
 @media (max-width: 400px) {
   width: 0%; /* At screen widths of 400px or smaller, reduce the image size to 60% */
 }
}

.FeedBack-Div{
  background-color:rgb(243, 248, 248);
  width: 100%;
  display: flex;
  height: 600px;
  flex-direction: column;
  align-items: center; 
 
}


.Message-Container{
  display: flex;
  width: 70%;
  gap: 40px;
  height: 300px;
  margin-top: 40px;
  margin-left: 160px;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.Quote-box {
  display: flex;
  width: 40%;
  height: 60%;
  border-radius: 10px;
  box-shadow: 4px 4px 0px #333;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  min-width: 400px;
  min-height: 200px;
}

.Quote-box h1 {
 
  font-size: 20px;
  font-style: italic;
 
  font-weight: 200;
  width: 100%;
  
}

.author {
  font-weight: bold;

}
.Message-desc{
  display: flex;
  width: 80%;
  text-align: center;
  color: gray;
  flex-direction: column;
}
.Message-desc p {
  margin-bottom:8px;
  margin-top: 0;
}
.Message-desc h1 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;
}



.event-Div {
  display: flex;
  background-color: aliceblue;
  width: 100%;
  height: 730px;
}
.orange-hr {
  border: none;
  background-color: rgb(131, 213, 245);
  height: 10px; /* Adjust the height as needed */
  width:30%;
  margin: 15px 0; 
  border-radius: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  height: 100%;
  width: 80%;
  justify-content: center;
 align-items: center;
  margin-left: 5%;

}

.column1 {
  margin:0;
  padding: 0;
  width: 50%;
  border-radius: 5px;
  height: 400px;
  
}
  
.column2 {
margin-left: -80px;
  width: 50%;
  border-radius: 5px;
  height: 400px;
  
}
.grid-container ul {

  list-style: none;
  padding: 0;
  
}

.grid-container li {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 40px;
  margin: 5px 0;
  font-size: 16px;
  font-weight: 600;
  color: rgb(161, 150, 150);
}


li:hover {
  color: rgb(93, 186, 230);
  font-weight: 800;
  font-size: 20px;
}
.grid-container ul h6 { 
  font-size: 18px;
  color: rgb(78, 102, 106); 
  font-weight: 600;
  margin: 0%;
  padding: 0%;
  margin-bottom: 20px;
} 

.Buttom-of-Page{
  background-color: rgb(243, 248, 248);
  width: 100%;
  height: 500px;

}

.button {
  cursor: pointer;
}
@media (max-width: 408px) {
  .top-div {
    background-image: url(https://img.freepik.com/free-photo/gray-abstract-wireframe-technology-background_53876-101941.jpg); 
    background-size: cover;
    background-position: center;
   margin-top: 100px;
    font-weight: bold;
    font-size: 100px; 
    display: flex;
   align-items: center;
    justify-content: center;
    height: 800px;
    width: 100%;
  }
  .ViewButton {
    border-radius: 8px;
    color: #ffffff;
    background-color:rgb(78, 102, 106); 
    width: 60%;
    margin-bottom: 10px;
    
  }
  .ViewButton1 {
    border-radius: 8px;
    color: #ffffff;
    background-color:rgb(78, 102, 106); 
    width: 60%;
    margin-bottom: 10px;
    height: 60px;
    
  }
  .ViewButton2 {
    width: 100px;
  }
  .Quote-box {
    display: flex;
    width: 40%;
    height: 60%;
    border-radius: 10px;
    box-shadow: 4px 4px 0px #333;
    margin: 10px;
    background-color: #ffffff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  }
  
  .Quote-box h1 {
   
    font-size: 20px;
    font-style: italic;
    margin: 0;
    font-weight: 200;
    width: 100%;
    
  }
  
  .author {
    font-weight: bold;
  
  }

  .Message-Container{
    display: flex;
    width: 100%;
    gap: 40px;
    height: 350px;
    margin-top: 40px;
    margin-left: 0px;
    margin-bottom: 0;
    padding-bottom: 0px;
  }

  .event-Div {
    margin-top: 150px;
    display: flex;
    background-color: aliceblue;
    width: 100%;
    height: 730px;
  }
  .column2{
   margin-left: 10px;
  }
}
