.navbar {
  position: sticky; 
  top: 0;
  background-color: #fffafa;
  height: 50px;
  display: flex;
  z-index: 3;
}

.leftNav {
  width: 33.3%;
  display: flex;
  font-weight: 800;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
}
.leftNav p {
  color: rgb(64, 206, 237);
  padding: 0px;
  margin: 0%;
 
  

}
.custom-link{
  text-decoration: none;
  color: rgb(78, 102, 106);

}
.leftNav img{
  width:30%;
  height: 100%;
}


.middleNav{
  display: flex;
  width: 33.3%;
}
.middleNav ul {
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0;
 
 display: flex;
 
 align-items: center;
}

.middleNav ul li {
    display: inline-block;
    padding-left: 10%;
    font-size: 17px;
    padding-bottom: 2px;
    color: rgb(78, 102, 106); 
    
}


.middleNav a:visited {
  color: rgb(78, 102, 106); 
  text-decoration: none;
}

.rightNav {
  width: 33.3%;
  display: flex;
  justify-content: flex-end;
 padding-right: 10px;
 align-items: center;
}

.buttonDiv {
  display: flex;
  width:80%;
  gap: 10px;
  height: 80%;
  justify-content: flex-end
}
.rightNav button {
 border-radius: 8px;
 color: #ffffff;
 background-color:rgb(78, 102, 106); 


}
.rightNav p{
color: black;
margin-right: 10px;
color: rgb(129, 127, 127);
font-weight: 600;
}
.rightNav-rightNav{
  display: flex;
  
  align-items: center;
}
 .rightNav button {
 width: 120px;
 height: 40px;
 }
 
 @media (max-width: 408px) {
  .navbar {
    flex-direction: column;
    
  }

  .leftNav, .middleNav, .rightNav {
    width: 100%;
    text-align: center;
   
  }

  .rightNav p{
    color: rgba(255, 255, 255, 0.069);
    margin-right: 10px;
    
    font-weight: 600;
    }
}
